
.titulo{
    text-decoration: line;
    background-color: blue;
    color:white;
    text-align: center;
}
.boton{
    background-color: rgb(133, 133, 133);
    text-align: left;
    color: black;

}
.public{
    height: auto;
    width: auto;
    align-items: center;
    max-width: 100%;
   
}
.formula{
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
}
.form-label {
    color: rgb(253, 253, 253); 
    font-size: 23px;
    font-family: monospace;
    
}
.form-check-inline{
margin: 16px;
}
.carousel-caption{
    text-align: left ;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
    margin-left: -40px;

}
